.header{
font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
position: fixed;
background-color: transparent;
color: #fff;
width: 100%;
// background-image: linear-gradient(180deg,rgba(0,0,0,.4) 10%,transparent);
&--image {
    width: 8rem;
}
&__menu {
    & li a{
     color: #fff !important;
    }
}
&__form {
    position: relative;
    &--input {
        color: #fff;
        // background-color: rgba(0, 0, 0, 0.651);
        background-color: transparent;
        border-radius: 0;
        // border: 1px solid #fff;
        width: 10px;
        border: 0px solid #fff;
        padding: 5px 5px 5px 30px;
        transition: ease-in-out .5s;
        &:focus {
            background-color: rgba(0, 0, 0, 0.651);
            border: 1px solid #fff;
            color: #fff;
            width: 220px;

        }
    }
    &--search {
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        left: 10px;
        pointer-events: none;
        cursor: pointer;

    }
}
}