.hero{
    background: linear-gradient(77deg,rgba(0,0,0,.6),transparent 85%);
    bottom: 0;
    left: 0;
    height: 100%;
    position: relative;
    background-image: url('../../../public/assets/p.webp');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    &__video{
        // width: 100%;
        // position: absolute;
        opacity: .8;
        z-index: 1;
    }
    &__banner{
        padding: 2rem;
        position: relative;
        justify-content: center;
    }
}   