.slider{
    transition: ease-out .5s;
    border: none;
    box-sizing: border-box;
    font-size: 12px;
    img{
        border-radius: 4px 4px;
        width: 100%;
    }
    &:hover{
        z-index: 9999;
        transform: scale(1.2); 
        margin: 10px
        // margin-top: -30px;
        img{
            border-radius: 4px 4px 0 0;
        }
    }
    &__body{
        display: none;
    }
    &:hover &__body{
        &--btn{
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50px;
            color: $white;
            background-color: rgba(42,42,42,.6);
            border-color: hsla(0,0%,100%,.5);
            border: 1px solid #fff;
        }
        border: none;
        background-color: $black;
        display: block;
        outline: none;
        color: #ccc;
        z-index: 99;
        margin: 0;
        padding-bottom: 0;
        // padding: 0;
        // padding: 10px;
    }
}