.sliding{
  overflow: hidden;
  // margin-top: -90px;
  z-index: 3;
  padding: 2rem;
  // background: linear-gradient(0deg, rgba(20, 20, 20, 1), transparent 50%);
  background-color: #000;
  color: #fff;
 & &--explore{
    content: "";
    display: table;
    clear: both;
  }
  & &--explore{
    display: none;
  }
  & &--explore{
    color: #54b9c5;
    display: block;
    opacity: 0;
    position: absolute;
    transition:ease-in-out max-width 1s,opacity 1s,transform .75s;
    vertical-align: bottom;
    white-space: nowrap;
    // transition: opacity ease-in-out .5s;
    cursor: pointer;
  }
  & &--explore:hover{
    opacity: .99;
  }
  & &--chevron:hover{
    left: 20%;
    color: #54b9c5;
  }
  &__controls{
    & button{
      border-radius: 50px;
      background-color: rgba(42,42,42,.6);
      border-color: hsla(0,0%,100%,.5);
      border: 1px solid #fff;
      margin: .3rem;
      top: 20px;
      width: 2rem;
      height: 2rem;
    }
    &--play{
      background-color: #fff !important;
    }
  }
}
